//
// Button Styles
//

.button {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  display: block;
  margin: 0.5rem;
  border: 2px solid;
  text-align: center;
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: none;
    background-color: transparent;
  }
}

.button-success {
  border-color: $success;
  color: $white;
  background-color: $success;
  &:hover,
  &:active {
    color: $success;
  }
}


.button-info {
  border-color: $info;
  color: $white;
  background-color: $info;
  &:hover,
  &:active {
    color: $info;
  }
}
