//
// Input Styles
//

input[type="username"],
input[type="password"],
input[type="email"],
input[type="text"] {
  border: none;
  background-color: $white;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: block;
  margin: 0.5rem;
}
