// Navigation

nav {
  width: 100%;
  background-color: $info;
  display: flex;
}

.navItem {
  padding: 14px 16px;
  display: inline-block;
  color: $white;
  text-decoration: none;
  &:hover,
  &:active,
  &.active {
    color: $white;
    background: $info-dark;
  }
}

.search {
  display: inline-flex;
  width: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 90%;
}
