{% include 'includes/header.html' %}
<main>
  <h1 class="center">Music</h1>
    {% for song in songs %}
    <section class="square">
      <article class="background" style="background-image: url('https://orig00.deviantart.net/5162/f/2014/153/9/e/no_album_art__no_cover___placeholder_picture_by_cmdrobot-d7kpm65.jpg')"></article>
      <article class="details">
        <p class="song">{{ song.name }}</p>
        <p class="artist">{{ song.artist.name }}</p>
      </article>
      <article class="more"><a class="playBtn" href="{{ config.Request.rootURL }}music/play/{{ song.id }}"></a></article>
    </section>
    {% endfor %}
</main>
{% include 'includes/footer.html' %}
