/* variables */
:root {
    --colour-info: #2196f3;
    --colour-success: #4caf50;
    --colour-warning: #ff9800;
    --colour-danger: #f44336;

    --colour-ui-main: #eeeeee;
    --colour-ui-main-hover: #e0e0e0;
    --colour-ui-link: #29b6f6;
    --colour-ui-link-hover: #0288d1;
    --colour-ui-footer: #607d8b;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: Arial, Helvetica, Sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  line-height: 1;
  color: #424242;
}

.heading-1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.subheading {
  font-size: 1.5em;
  padding: 0.5em;
  font-weight: lighter;
}

.mainContent {
  width: 100%;
  display: block;
}

/* Navigation Styles */

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--colour-ui-main);
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}

.navItem.active,
.navItem:hover {
  background-color: var(--colour-ui-main-hover);
}

.search {
  flex: 1;
  margin: 0 10px;
}

.searchbar {
  width: 100%;
  float: right;
  border: none;
  padding: 10px;
  font-size: 1rem;
}

/* Header Styles */

header {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
  display: block;
  font-size: 4em;
  font-weight: lighter;
}

/* Account Section Styles */

.account {
  text-align: center;
  width: 100%;
  padding: 2vw 10vw;
  background-color: var(--colour-ui-main);
}

/* Statistics Section Styles */

.statistics {
  text-align: center;
  width: 100%;
  padding: 1vw 0;
}

.stat-item {
  padding: 3vw 1vw;
}

.stat-num {
  font-weight: lighter;
  font-size: 1.5em;
}

.stat-name {
  font-weight: bold;
  font-size: 1.3em;
}

/* Footer Section Styles */

footer {
  background-color: var(--colour-ui-footer);
  display: block;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.copyright {
  display: block;
  text-align: center;
  color: #fff;
}

/* Button Styles */

.button {
  padding: 14px 16px;
  border: 3px solid;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  display: inline-block;
}

.button-login {
  margin: 1% auto;
  width: 80%;
}

.button-statistics {
  display: block;
  width: 60%;
  margin: 2vw auto;
}

.button-info {
  color: #fff;
  background-color: var(--colour-info);
  border-color: var(--colour-info);
}

.button-info:hover {
  color: var(--colour-info);
  background-color: transparent;
}

.button-success{
  color: #fff;
  border-color: var(--colour-success);
  background-color: var(--colour-success);
}

.button-success:hover {
  color: var(--colour-success);
  background-color: transparent;
}

/* Box Styles */

.box {
  box-sizing: border-box;
  display: block;
  padding: 24px;
  text-align: center;
  margin: 5%;
}

.box p {
  display: block;
  color: inherit;
}

.box-danger {
  background-color: var(--colour-danger);
  color: #fff;
}

.box-warning {
  background-color: var(--colour-warning);
  color: #fff;
}

.box-info {
  background-color: var(--colour-info);
  color: #fff;
}

/* Group Styles */

.group {
  display: grid;
  grid-column-gap: 1%;
  text-align: center;
}

.group-two {
  grid-template-columns: repeat(2, 1fr);
}

.group-three {
  grid-template-columns: repeat(3, 1fr);
}

.group-buttons {
  margin: 3vw 0;
}

/* Form Styles */

.form {
  display: block;
  background-color: var(--colour-ui-main);
  width: 75%;
  margin: 1% auto;
  padding: 1%;
  text-align: center;
}

/* Input Styles */

.input-text {
  border: none;
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  margin: 1%;
}

/* Link Styles */
.link {
  color: var(--colour-ui-link);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: var(--colour-ui-link-hover);
  text-decoration: underline;
}

.link-footer {
  text-align: center;
}
