{% include 'includes/header.html' %}
<header class="header">
  <h1 class="display-1">{{ config.General.fullname }}</h1>
</header>
<main>
  <section class="account">
    <h2>Account</h2>
    {% if config.User.loggedIn %}
      <h4 class="font-light">Welcome Back {{ config.User.firstName }}!</h4>
      <a class="button button-success" href="/dashboard/">Dashboard</a>
      <a class="button button-info" href="/logout/">Logout</a>
    {% else %}
      <h4 class="font-light">Please Register or Login</h4>
      <a class="button button-success" href="/login/">Login</a>
      <a class="button button-info" href="/register/">Register</a>
    {% endif %}
  </section>
  <section class="statistics">
    <h4>Statistics</h4>
    <section class="stats">
      <section class="stat-item">
        <h4 class="stat-num">{{ stats.films }}</h4>
        <h3 class="stat-name">Films</h3>
      </section>
      <section class="stat-item">
        <h4 class="stat-num">{{ stats.songs }}</h4>
        <h3 class="stat-name">Songs</h3>
      </section>
      <section class="stat-item">
        <h4 class="stat-num">{{ stats.episodes }}</h4>
        <h3 class="stat-name">Episodes</h3>
      </section>
    </section>
    <!-- <a class="button button-info button-statistics" href="/dashboard/statistics/">More Statistics</a> -->
  </section>
</main>
{% include 'includes/footer.html' %}
